.testimonial{
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 5rem;
    padding-bottom: 15rem;
    position: relative;

    @media only screen and (max-width: $bp-medium){
        padding-bottom: 7.5rem;
    } 

    &__box{
        position: relative;
        padding: 8rem 4rem 4rem;
        transition: all 0.5s;
        text-align: center;
        background: $color-grey-light-1;
        @include boxShadow;

        @media only screen and (max-width: $bp-medium){
            &:not(:last-child){
                margin: 6rem 0;  
            } 
        } 
    
        &:hover{
            background-color: $color-primary;
            color: $color-white;;
        }

        &::before{
            content: "";
            position: absolute; 
            top: 2rem;
            right: 3rem;
            width: 10rem;
            height: 7rem;  
            background: url(../img/quotations_top.png);
            background-size: cover;
            opacity: 0.45;
            transition: 0.5s;
            pointer-events: none; 
            color: $color-primary;
        }

        &:hover::before{
            transform: translateY(-5em);
            opacity: 1;
        }

        &::after{
            content: ""; 
            position: absolute; 
            bottom: 3rem; 
            left: 3rem;
            width: 10rem;
            height: 7rem;  
            background: url(../img/quotations_top.png);
            background-size: cover;
            opacity: 0.45;
            transition: 0.5s; 
            pointer-events: none; 
            color: $color-primary;
            transform: rotate(180deg) translateY(0em);
        }

        &:hover::after{
            transform: rotate(180deg) translateY(-6em);
            opacity: 1;
        }

        &__img{
            position: absolute;
            top: -6em;
            left: 50%;
            border-radius: 50%;
            transform: translateX(-50%);
            width: 12rem; 
            height: 12rem;
            overflow: hidden;
        }
    }
 
    &__text{
        font-size: $default-font-size;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}
