*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: $color-grey-light-1;
    font-size: 65.5%;

    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }
}  
  
body{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

